[submodule "vendor/unicorn"]
	path = vendor/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "vendor/keystone"]
	path = vendor/keystone
	url = https://github.com/keystone-engine/keystone.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/capstone"]
	path = vendor/capstone
	url = https://github.com/capstone-engine/capstone.git
